@import './sheets-of-paper.scss';

.page.usLetter {
  width: 21.6cm;
  min-height: 27.9cm;
  padding-left: 2cm;
  padding-top: 2cm;
  padding-right: 2cm;
  padding-bottom: 2cm;
}

@page {
  size: letter portrait;
  margin-left: 2cm;
  margin-top: 2cm;
  margin-right: 2cm;
  margin-bottom: 2cm;
}
