#chapter-sidebar {
  position: fixed;
  left: 0;
  top: 6.5%;
  height: 93vh;
  width: 15vw;
  background: #ecf0f1;

  .toggle-sidebar-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 40px;
    width: 40px;
    border-radius: 50%;

    img {
      &:hover {
        cursor: pointer;
      }

      @keyframes double-arrow {
        from {
          transform: translateX(-6px);
        }
        to {
          transform: translateX(6px);
        }
      }
    }

    img {
      animation-name: double-arrow;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  }

  .chapter-placeholder {
    border: 1px solid gray;
    padding: 12px 0;
    margin: 2px;
    text-align: center;

    .chapter-header {
      font-family: cursive;
      font-size: 20px;

      .chapter-start-end {
        background: inherit;
        font-size: 14px;
        width: 35%;
        padding: 5px 5px 0 5px;
        border: none;
        outline: none;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }
    }

    .chapter-name {
      width: 85%;
      margin: 10px 10px 0 10px;
      padding: 10px 20px;
      font-size: 20px;
      border: none;
      outline: none;
      border-radius: 5px;
    }
  }

  .new-chapter-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #465;
    padding: 10px;
    ::selection {
      background: transparent;
    }

    .add-chapter-btn {
      width: 42px;
      height: 42px;
      text-align: center;
      background: white;
      font-size: 35px;
      border-radius: 50%;
      font-family: 'Times New Roman', Times, serif;
      font-weight: bolder;
      border: none;
      transition: 0.6s ease;

      &:hover {
        cursor: pointer;
        background: #bcf5c6;
      }
    }
  }
}
