#chapter-sidebar {
  position: fixed;
  left: 0;
  top: 6.5%;
  height: 93vh;
  width: 15vw;
  background: #ecf0f1;

  .toggle-sidebar-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 40px;
    width: 40px;
    border-radius: 50%;

    img {
      &:hover {
        cursor: pointer;
      }

      @keyframes double-arrow {
        from {
          transform: translateX(-6px);
        }
        to {
          transform: translateX(6px);
        }
      }
    }

    img {
      animation-name: double-arrow;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  }

  .chapter-placeholder {
    display: flex;
    justify-content: center;
    border: 1px solid gray;
    padding: 12px 0;
    margin: 2px;

    input[type='text'] {
      width: 85%;
      font-size: 20px;
      padding: 10px 20px;
    }
  }
}
